name: release

env:
  NODE_VERSION: 22.x

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - uses: actions/setup-node@v4
        env:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: "https://registry.npmjs.org"
      - run: bun i
      - name: update version
        shell: bash
        run: |
          # get the version from the tag
          VERSION=$(echo $GITHUB_REF | sed 's/refs\/tags\/v//')
          # remove the v prefix
          VERSION=$(echo $VERSION | sed 's/v//')
          # update the version in package.json
          jq ".version = \"$VERSION\"" package.json > package.json.tmp
          mv package.json.tmp package.json
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  release:
    needs:
      - npm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - run: deno run -A npm:changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
